<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="CustomTitle3">CONNEXION</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-xl="6">
        <ion-card class="CustomCard">
          <ion-card-content>
            <form >
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" #email required placeholder="Your email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" #password required placeholder="Your password"></ion-input>
              </ion-item>
              <ion-row>
                <ion-col>
                  <ion-button type="submit" (click)="logIn(email,password)" expand="block">Login</ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button expand="block" color="warning" [routerLink]="['../password-reset']">
                    Password Reset
                  </ion-button>
                </ion-col>
              </ion-row>
              <span class="divider line one-line">or</span>
              <ion-row>
                <ion-col>
                  <ion-button type="submit" color="danger" (click)="authService.GoogleAuth()" expand="block">
                    Login with Google
                  </ion-button>
                </ion-col>
              </ion-row>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
