<ion-header>
  <ion-title class="CustomTitle3">Pokedex </ion-title>
  <ion-toolbar>
    <ion-searchbar>
    </ion-searchbar>
    <ion-button color="light" (click)="btnAllcards()">Get all card</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>

        <ion-card *ngFor="let card of cardsFR.Cards.slice(0,10)" >
          <ion-card-header>
            {{card.name}}
          </ion-card-header>
          <ion-card-content>
            description
            <ion-img class="CustomImg" [src]="(card?.image)+'/low.jpg'" ></ion-img>
          </ion-card-content>
        </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
