<ion-content fullscreen="true" *ngIf="authService.userData">
  <app-dashboard *ngIf="folder == 'Dashboard'" ></app-dashboard>
  <app-home *ngIf="folder == 'Home'"></app-home>
  <app-pokedex *ngIf="folder == 'Pokedex'" ></app-pokedex>
</ion-content>
<ion-content fullscreen="true" *ngIf="!authService.userData">
  <app-login *ngIf="folder == 'Login'" ></app-login>
  <app-registration *ngIf="folder == 'Register'" ></app-registration>
  <app-logout *ngIf="folder == 'logout'"></app-logout>
  <app-password-reset *ngIf="folder == 'password-reset'" ></app-password-reset>
</ion-content>

