<ion-header>
  <ion-title class="CustomTitle3">
    INFO
  </ion-title>
</ion-header>
<ion-content fullscreen="true">
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-header>
          Neo Poke Version 0.0.1
        </ion-card-header>
        <ion-card-content>
          <p> Developper : Timothy Detournay</p>
          <p> Technology use : Ionic , Angular , Firebase , Tgcdex API </p>
          <p> Spécial thanks : Spécial thanks to @Avior from TCGdex API for is help during the project </p>
          <p> more information about TCGdex </p>
          <ion-button href="https://www.tcgdex.fr/">TCGdex API</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
