<link href="https://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">
<ion-app>
  <ion-split-pane contentId="main-content" style="--side-max-width: 30vh">
    <ion-menu  contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header class="CustomTitleOne">NEO POKE </ion-list-header>
            <ion-menu-toggle  auto-hide="false" *ngIf="authService.userData">
              <div *ngFor="let p of appPages2; let i = index" >
                <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" >
                  <ion-icon class="CustomIcon" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <p class="CustomTitle3">{{ p.title }}</p>
                </ion-item>

              </div>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false" *ngIf="!authService.userData" >
              <div *ngFor="let p of appPages; let i = index">
                <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                  <ion-icon class="CustomIcon" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                  <p class="CustomTitle3">{{ p.title }}</p>
                </ion-item>
              </div>
            </ion-menu-toggle>
        </ion-list>
        <ion-item class="ion-justify-content-center" *ngIf="authService.userData" >
        <ion-button color="danger" (click)="authService.signOut()">Deconnexion</ion-button>
      </ion-item>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
